<div fxLayout="column">
    <div fxFlex="100" class="header">
        <div fxFlex="72" class="allbooks">
            <h2>Books</h2>
        </div>
        <div class="sort">
            <button class="sort-btn" mat-button [matMenuTriggerFor]="menu"><span > Sort by relevence</span><mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
    </div>


    <div class="display-container">
        <div *ngFor="let book of BookArray">
            <mat-card fxFlex="24">
                <div class="book-img" fxLayoutAlign="space-around center">
                    <img width="140px" src="../../../assets/assets/mitrokin.jpg" alt="">
                </div><br>
                <div>
                    <mat-card-title class="book-title"> {{book.bookName}}</mat-card-title>
                    <mat-card-title class="author">By: {{book.author}}</mat-card-title>
                </div>

                <div class="rating" fxLayout="row">
                    <div class="badge">4.5<img width="15px" style="margin-top: 1px;"
                            src="../../../assets/assets/star.svg "> </div>
                    <div style="color:black;margin-left: 4px;"> (20) </div>
                </div>
                <div class="price"> <strong>Rs. 600 </strong><span class="discountedprice"> Rs. 300 </span></div>
            </mat-card>
        </div>
    </div>
</div>