.display-container{
    // border:solid greenyellow 2px;
    width: 85%;
    margin-left: 7%;
    flex-flow: wrap;
    

}

.booklength{
    margin-top: 8px;
    margin-left: 4px
}

// .display{
//     border: solid red 2px;
// }

mat-card{
    border: black;
    margin-left: 7%;
    // background-color: gray;
    margin-bottom: 18px;

}

.header{
    margin-top: 2%  ;
}

.book-img{
    background-color: rgba(168, 164, 164, 0.562);
}

.sort-btn{
    background-color: white;
    border: solid gray 1px;
    border-radius: 4px 4px 4px 4px;
}

.span-sort{
    margin: 4px;
}

.allbooks{
    margin-left: 7%;
}

.book-title{
    font-size: 20px;
}
.author{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
}
.badge{
    background-color: green;
    color: white;
}
.price{
    margin-top: 2px;
}

.discountedprice{
    text-decoration: line-through;
}
