<div class="main-container">
    <div class="header" fxFlex="100">
        <mat-toolbar>
            <mat-toolbar-row>
                <div class="logo">
                    <img style="margin-right: 12%; margin-block: -2px;" src="../../../assets/assets/book.svg" alt="" />
                    <span class="example-spacer">BookStore</span>
                </div>

                <div class="search-area" fxFlex="50">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px" class="tooltip">
                        <img style="width: 24px; padding-left: 19px; height: 45px"
                            src="../../../assets/assets/searchsvg.svg" />
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
                <div class="header-btn" fxLayout="row"   >
                    <div class="set-profile">
                        <button mat-icon-button class="header-icon" mat-button [matMenuTriggerFor]="menu">
                            <img style="width: 27px" src="../../../assets/assets/profile.svg" />
                        </button>
                        <mat-menu class="mat-menu" #menu="matMenu">
                            <h3><strong> Welcome </strong></h3>
                            <p> To access your account and manage Orders</p>
                            <button class="mat-menu-signin" routerLink="/registration"> LOGIN/SIGNUP</button>
                            <hr>
                            <button mat-menu-item >
                                <mat-icon>collections_bookmark</mat-icon>
                                <span>My Orders</span>
                              </button>
                              <button mat-menu-item>
                                <mat-icon>favorite_border</mat-icon>
                                <span>Wish list</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="cart-btn">
                        <button mat-icon-button class="header-icon">
                            <img style="width: 27px" src="../../../assets/assets/addTocart.svg" />
                        </button>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <div>
            <router-outlet >
      
            </router-outlet>
        </div>
    </div>
</div>