<div class="header">
    <a  class="logo">Book Store</a>
    <div class="header-right">   
    </div>
</div>
<h2 class="h1" fxLayoutAlign="center center">Forget your Password?</h2>
<div fxLayoutAlign="center center">

<div class="Reset-container"  fxLayoutAlign="center center">
    <div class="signup-container">

        <p style="margin:15px 0 15px ;">Enter your Email address we will send you a link to <br> reset your password</p>

        <form action="" fxLayout="column" fxLayoutAlign="space-between" [formGroup]="forgetPasswordForm">


            <label for="email">Email:</label>
            <input type="email" required  formControlName="email"><br>

            <div class="example-button-row">
                <button class="Reset-primary"  (click)="onSubmit()">Reset Password</button>
            </div><br><br>

        </form>

        <div>
            <button class="account-create-btn" routerLink="/registration"><strong>CREATE ACCOUNT</strong></button>
        </div>
    </div>

</div>
</div>
