<div class="header-container" fxLayout="column">
    <div fxFlex="50" class="header">
        <div fxFlex="72" class="allbooks" fxLayout="row">
            <h2>Home</h2>
            <span class="bookwishlist">/Book </span>
        </div>
    </div>

    <div fxFlex="100" class="book-container">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-card class="booklist">
                <div class="">
                    <img width="220px" src="../../../assets/assets/mitrokin.jpg" alt="">
                </div>
            </mat-card>
            <mat-card class="bookname">
                <div>
                    <mat-card-title class="book-title">Book-name</mat-card-title>
                    <mat-card-title class="author">By: </mat-card-title>
                    <div class="price"><strong> Rs. </strong></div>
                    <span class="discountedprice"> Rs. </span>
                    <hr>
                    <div><strong>Book detail</strong></div>
                    <p>Your book details can be found in the Book details tab. Book details are sometimes called
                        metadata. Both terms describe what will show your book's Amazon detail page. As most of these
                        fields cannot be changed after you publish, we recommend you double check everything before
                        submitting.</p>
                    <hr>
                    <div>
                        <mat-card-title>Cusomer FeedBack</mat-card-title>
                        <mat-card class="feedback">
                            <div>Overall rating</div>
                            <div >
                                <img width="25px" src="../../../assets/assets/feedbackstar.svg" alt="">
                                <img width="25px" src="../../../assets/assets/feedbackstar.svg" alt="">
                                <img width="25px" src="../../../assets/assets/feedbackstar.svg" alt="">
                                <img width="25px" src="../../../assets/assets/feedbackstar.svg" alt="">
                                <img width="25px" src="../../../assets/assets/feedbackstar.svg" alt="">
                            </div>
                            <textarea class="feedbackarea" placeholder="Write a review " style="font-size: 15px; border: none;"></textarea>
                            <button mat-raised-button color="primary" style="height:32px ; margin-left: 81%;">Submit</button>
                        </mat-card>
                    </div><br>
                    <div  fxLayout="row" >
                        <img width="20px" width="20px"src="../../../assets/assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                            <span class="profilename">Person Name</span>
                    </div>
                    <div class="logofeedback">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                    </div>
                    <p class="person-review"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo amet rem corporis consectetur reiciendis?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque commodi et nulla iure numquam obcaecati.</p>

                </div>
            </mat-card>
        </div>
    </div>


</div>