<div class="header-container" fxLayout="column">
    <div fxFlex="50" class="header">
        <div fxFlex="72" class="allbooks" fxLayout="row">
            <h2>Home</h2>
            <span class="bookwishlist">/Book </span>
        </div>
    </div>

    <div fxFlex="100" class="book-container">
        <div fxLayout="row" >
            <div class="booklist">
                <div class="image-border">
                    <img width="220px" src="{{getbook.bookImage}}" alt="">
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around" style="margin-left: 18%; margin-top: 4%;">
                    <button class="addtobag-btn" (click)="AddtoCart(getbook)">
                        ADD TO BAG
                    </button>
                    <button class="addtoWishlist-btn" fxLayoutAlign="center" (click)="addwishlist(getbook)">
                        <mat-icon width="20px" >favorite_border</mat-icon>
                        <span fxLayoutAlign="center" style="margin: 5px;">WISHLIST</span>
                    </button>
                </div>
            </div>
            <mat-card class="bookname">
                <div >
                    <mat-card-title class="book-title">{{getbook.bookName}}</mat-card-title>
                    <mat-card-title class="author">By:{{getbook.author}} </mat-card-title>
                    <div class="rating" fxLayout="row">
                        <div class="badge">{{getbook.rating}}<img width="15px"  src="../../../assets/assets/star.svg ">
                        </div>
                        <div style="color:black;"> (20) </div>
                    </div>
                    <div class="price"><strong> Rs.{{getbook.price}} </strong></div>
                    <span class="discountedprice"> Rs.{{getbook.discountedPrice}} </span>
                    <hr>
                    <div><strong>Book detail</strong></div>
                    <p>{{getbook.description}}</p>
                    <hr>
                    <div>
                        <mat-card-title>Customer Feedback</mat-card-title>
                        <mat-card class="feedback">
                            <div>Overall rating</div>
                            <div>
                                <span class="star-cb-group">
                                    <input type="radio" id="rating-5" name="rating" value="5" [(ngModel)]="totalRating" /><label for="rating-5">5</label>
                                    <input type="radio" id="rating-4" name="rating" value="4" checked="checked" [(ngModel)]="totalRating" /><label for="rating-4">4</label>
                                    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3" [(ngModel)]="totalRating">3</label>
                                    <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2" [(ngModel)]="totalRating">2</label>
                                    <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1" [(ngModel)]="totalRating">1</label>
                                    <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" [(ngModel)]="totalRating" /><label for="rating-0">0</label>
                                </span>
                            </div>
                            <textarea class="feedbackarea" placeholder="Write a review "
                                style="font-size: 15px; border: none;" [(ngModel)]="comment" ></textarea>
                            <button mat-raised-button color="primary" class="primary-btn" (click)="addFeedback(getbook)">Submit</button>
                        </mat-card>
                    </div><br>
                    <div fxLayout="row" *ngFor="let feedback of booksArray">
                        <img width="20px" width="20px"
                            src="../../../assets/assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                        <span class="profilename"></span>
                    </div>
                    <div class="logofeedback">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                        <img width="20px" src="../../../assets/assets/feedbackstar.svg" alt="">
                    </div>
                    <p class="person-review"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo
                        amet rem corporis consectetur reiciendis?Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Doloremque commodi et nulla iure numquam obcaecati.</p>

                </div>
            </mat-card>
        </div>
    </div>


</div>