.bookwishlist{
    margin-top: 8px;
    margin-left: 4px
}

.header{
    margin-top: 1%;
    margin-left: 7%;
}


.bookname{
    width: 55%;

}

.author{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
}
.price{
    margin-top: 2px;
}

.discountedprice{
    text-decoration: line-through;
}

.feedback{
    background-color: rgba(128, 128, 128, 0.062);
}

.feedbackarea{
    width: 100%;
    border-radius: 6px 6px 6px 6px;
    height: 72px
}
.profilename{
    margin-left: 6px;
}

.logofeedback{
    margin-left: 3%;

}
.person-review{
    margin-left: 3%;
    margin-bottom: 15%;
}

.image-border{
    border: solid rgba(172, 168, 168, 0.199) 1px;
    padding: 10px 30px 40px 30px;
    margin-left: 93px;
}

.addtobag-btn{
    background-color: rgb(165, 29, 29);
    color: white;
    border: none;
    border-radius: 4px 4px 4px 4px;

}
.addtoWishlist-btn{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    border: none;
    border-radius: 4px 4px 4px 4px;

}

.badge{
    background-color: green;
    color: white;
}
hr{
    margin: 20px 0px 20px 0px;
}

.primary-btn{
    height:32px ;
    margin-left: 81%;
    position: relative;
    // float:right;
}


@media(max-width:755px){

    .primary-btn{
        margin-left: 0%;

    }
    
}  


