$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
.bookwishlist{
    margin-top: 8px;
    margin-left: 4px
}

.header{
    margin-top: 1%;
    margin-left: 7%;
}


.bookname{
    width: 55%;

}

.author{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
}
.price{
    margin-top: 2px;
}

.discountedprice{
    text-decoration: line-through;
}

.feedback{
    background-color: rgba(128, 128, 128, 0.062);
}

.feedbackarea{
    width: 100%;
    border-radius: 6px 6px 6px 6px;
    height: 72px
}
.profilename{
    margin-left: 6px;
}

.logofeedback{
    margin-left: 3%;

}
.person-review{
    margin-left: 3%;
    margin-bottom: 15%;
}

.image-border{
    border: solid rgba(172, 168, 168, 0.199) 1px;
    padding: 10px 30px 40px 30px;
    margin-left: 93px;
}

.addtobag-btn{
    background-color: rgb(165, 29, 29);
    color: white;
    border: none;
    border-radius: 4px 4px 4px 4px;

}
.addtoWishlist-btn{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    border: none;
    border-radius: 4px 4px 4px 4px;

}

.badge{
    background-color: green;
    color: white;
}
hr{
    margin: 20px 0px 20px 0px;
}

.primary-btn{
    height:32px ;
    margin-left: 81%;
    position: relative;
    // float:right;
}


@media(max-width:755px){

    .primary-btn{
        margin-left: 0%;

    }
    
} 

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: #e52;
      text-shadow: 0 0 1px #333;
    }
  }
  
  /* the hidden clearer */
  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & > .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover > input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
  }
}


