.bookwishlist{
    margin-top: 8px;
    margin-left: 4px
}

.header{
    margin-top: 2%;
    margin-left: 7%;
}


.bookname{
    width: 55%;

}

.author{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
}
.price{
    margin-top: 2px;
}

.discountedprice{
    text-decoration: line-through;
}

.feedback{
    background-color: rgba(128, 128, 128, 0.062);
}

.feedbackarea{
    width: 100%;
    border-radius: 6px 6px 6px 6px;
    height: 72px
}
.profilename{
    margin-left: 6px;
}

.logofeedback{
    margin-left: 3%;

}
.person-review{
    margin-left: 3%;
}