.main-component {
    border: green 1px solid;

    display: flex;
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    // border: 1px solid #e0d3d35d;
    border-radius: 10px;
    width: 100%;
    background-color:#e0d3d38f;;
    
    height: 100%;
    // background: #fff;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;

}


input{
    height: 36px;
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
    
}

.heading{
    width: 50%;
    border: none;
    background-color: #fff;

}



.login-container {
    width: 80%;
    margin-left: 10%;

}

.form-container{
    // border: solid rgb(132, 22, 206) 2px;
    width: 40%;
    background-color: #fff;

    border-radius: 8px 8px 8px 8px;
}

.login-primary{
    width: 100%;
    height: 41px;
    color: #fff;
    background-color: rgb(165, 29, 29);
    border-radius: 5px 5px 5px 5px;
}

.facebook-btn{
    border: none;
    width: 40%;
    height: 42px;
    color: #fff;
    background-color: rgb(29, 46, 126);
    border-radius: 5px 5px 5px 5px;


}

.google-btn{
    border: rgba(221, 211, 211, 0.459);
    width: 40%;
    height: 42px;
    color:black;
    background-color: rgba(221, 211, 211, 0.459);
    border-radius: 5px 5px 5px 5px;

}

.social-btn{
    margin-block: 30px;
}