<div class="main-component" fxLayoutAlign="center center">
    <div >
        <img style="width:300px ;" src="../../../assets/assets/OnlineBooklogin.png" alt="">
    </div>

    <div class="form-container" fxLayout="row">
        <div class="login-container">
            <div>
                <button class="heading">
                    <h2> LOGIN </h2>
                </button>

                <button class="heading" routerLink="/registration">
                    <h2>SIGNUP</h2>
                </button>
            </div>

            <form action="" fxLayout="column" fxLayoutAlign="space-between">

                <label for="email">Email:</label>
                <input type="email" required><br>

                <label for="password">Password:</label>
                <input type="password"><br>

                <div class="example-button-row">
                    <button class="login-primary">LOGIN</button>
                </div>

            </form><br><br>

            <div>
                
                <span fxLayoutAlign="center center">----OR----</span>
            </div><br><br>
            <div class="social-btn" div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="100">
                <button class="facebook-btn" >
                    Facebook
                </button>

                <button class="google-btn">
                    Google
                </button>
            </div>

        </div>
    </div>


</div>