<div>
    <mat-card-title class="add-title" style="margin-left: 2%;">Contact Address</mat-card-title>

    <div class="mainadd">

        <div class="leftadd">
            <div class="addname">FullName</div>
            <input type="text" placeholder="Enter Name" class="addresstext" value="" required />

        </div>

        <div class="rightadd">
            <div class="addname">Mobile Number</div>
            <input type="text" placeholder="Enter Number" class="addresstext" value="" required />
        </div>

    </div><br>

    <div class="addresspart">
        <div class="addwork">Work Address</div>
        <textarea placeholder="Enter Address">  </textarea>
    </div>


    <div class="mainadd">

        <div class="leftadd">
            <div class="addname">City Town</div>
            <input type="text" placeholder="Enter City" class="addresstext" required />
        </div>

        <div class="rightadd">
            <div class="addname">State</div>
            <input type="text" placeholder="Enter State" class="addresstext" required />
        </div>
    </div><br>


    <div class="addname" style="margin-left: 20px;">Type</div>


    <div class="radio">
        <div style="display:flex;" class="">
            
            <label for="HOME" class="radio">Home</label>
            <input type="radio"  name="type" value=1>
            <label for="OFFICE" class="radio">Office</label>
            <input type="radio"  id="office" name="type" value=2>
            <label for="OTHER" class="radio">Other</label>
            <input type="radio"  id="other" name="type" value=3>
        </div>

    </div>
</div>