<div>
    <mat-card-title class="add-title" style="margin-left: 2%;">Contact Address</mat-card-title>

    <div class="mainadd" *ngFor="let user of UserArray">

        <div >
            <div style="margin-left: 23px;" class="addname">FullName</div>
            <input type="text" placeholder="Enter Name" class="addresstext" value="{{user.fullName}}" required />

        </div>

        <div >
            <div style="margin-left: 23px;" class="addname">Mobile Number</div>
            <input type="text" placeholder="Enter Number" class="addresstext" value="{{user.mobileNumber}}" />
        </div>

    </div><br>

    <div class="addresspart" *ngFor="let user of UserArray">
        <div  class="addwork">Work Address</div>
        <textarea placeholder="Enter Address"> {{user.fullAddress}} </textarea>
    </div>


    <div class="mainadd" *ngFor="let user of UserArray">

        <div>
            <div style="margin-left: 23px;" class="addname">city/town</div>
            <input type="text" value="{{user.city}}" class="addresstext" required />
        </div>

        <div>
            <div style="margin-left: 23px;" class="addname">State</div>
            <input type="text" placeholder="Enter State" class="addresstext" value="{{user.state}}" required />
        </div>
    </div><br>


    <div class="addname" style="margin-left: 20px;">Type</div>


    <div class="radio">
        <div style="display:flex;" class="">
            
            <label for="HOME" class="radio">Home</label>
            <input type="radio"  name="type" value=1>
            <label for="OFFICE" class="radio">Office</label>
            <input type="radio"  id="office" name="type" value=2>
            <label for="OTHER" class="radio">Other</label>
            <input type="radio"  id="other" name="type" value=3>
        </div>

    </div>
    <div class="btn-container">
        <button *ngIf="toDisplay" (click)="Continue(OrderList.bookId, OrderList.quantity)" (click)="toggleData()" class="primary-btn" >CONTINUE</button>
    </div>
</div>