.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}
.title{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3%;
    font-weight: 500;

}
.msg{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: medium;
    margin-top: 2%;
    font-family: cursive;

}