<div class="header">
    <a  class="logo">Book Store</a>
    <div class="header-right">   
    </div>
</div>
<h2 class="h1" fxLayoutAlign="center center">Forget your Password?</h2>
<div fxLayoutAlign="center center">

<div class="Reset-container"  fxLayoutAlign="center center">
    <div class="signup-container">

        <p>Enter new password and confirm password to set <br> new password</p>

        <form action="" fxLayout="column" fxLayoutAlign="space-between">


            <label for="password">Password:</label>
                <input type="password"><br>
            <label for="password">Confirm Password:</label>
                <input type="password"><br>

            <div class="example-button-row">
                <button class="Reset-primary">Reset</button>
            </div><br><br>

        </form>
    </div>

</div>
</div>
